button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  min-height: 2.5rem;
  padding: --spacing(2) --spacing(4);
  border-radius: 8px;
}

button.--ghost {
  background-color: transparent;
}

button.--ghost.--accent:hover {
  background-color: hsl(from var(--color-accent) h s l / 0.25);
}

button.--small {
  padding: --spacing(1) --spacing(2);
  font-size: var(--text-xs);
}

button.--full-width {
  width: 100%;
}

button.--no-default {
  padding: 0;
  width: auto;
  min-height: auto;
}

button.--contained.--accent {
  color: black;
}

button.--contained.--secondary {
  background-color: var(--color-secondary);
  color: black;
}

button.--contained.--secondary:hover {
  background-color: hsl(from var(--color-secondary) h s 50);
}

button.--contained.--accent:hover {
  background-color: hsl(from var(--color-accent) h s 45);
}

button.--contained.--accent:disabled {
  background-color: hsl(from var(--color-accent) h 0.25 l);
  color: white;
}

button.--outlined.--accent:hover {
  background-color: hsl(from var(--color-accent) h s l / 0.25);
  color: var(--color-accent);
}

button.--outlined.--secondary:hover {
  background-color: hsl(from var(--color-gray-400) h s l / 0.25);
}

button.--round {
  border-radius: 100px;
  padding: 0;
  aspect-ratio: 1/1;
}

button.--box {
  padding: 1rem;
}
