.sublabel {
  font-size: var(--text-xs);
  color: white;
  border-radius: var(--radius-md);
  padding: --spacing(2);
  border-width: 1px;
  margin-top: --spacing(1);
}

.sublabel.--error {
  color: var(--color-red-400);
  background-color: hsl(from var(--color-red-500) h s l / 0.1);
  border-color: hsl(from var(--color-red-500) h s l / 0.2);
}

.sublabel.--success {
  color: var(--color-green-500);
  background-color: hsl(from var(--color-green-500) h s l / 0.1);
}

.sublabel.--default {
  color: var(--color-gray-300);
  background-color: hsl(from var(--color-gray-400) h s l / 0.1);
  border-color: var(--color-gray-400);
}
