@import './components/button.css';
@import './components/input.css';
@import './components/sublabel.css';
@import './components/spinner.css';
@import './components/form-input-group.css';
@import './components/card.css';
@import './components/pill.css';
@import './components/container-link.css';
@import './components/notice';

@keyframes SlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#logo {
  font-size: 16px;
}

label {
  margin-left: --spacing(1);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--text-2xl);
}
h2 {
  font-size: var(--text-xl);
}
h3 {
  font-size: var(--text-lg);
}

a.--on-path {
  color: var(--color-accent);
}

.--contained.--accent {
  background-color: var(--color-accent);
  color: white;
}

.--contained.--success {
  background-color: hsl(from var(--color-green-400) h s l / 0.2);
  color: var(--color-green-400);
}

.--contained.--warning {
  background-color: hsl(from var(--color-yellow-400) h s l / 0.2);
}

.--contained.--error {
  background-color: hsl(from var(--color-red-400) h s l / 0.2);
}

.--contained.--theme {
  background-color: var(--color-background-light);
}

.--outlined {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.--outlined.--accent {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.--outlined.--white {
  color: white;
  border: 1px solid white;
}

.--outlined.--success {
  color: var(--color-green-400);
  border-color: var(--color-green-400);
}

.--outlined.--secondary {
  color: var(--color-gray-400);
  border-color: var(--color-gray-400);
}
