@import '../styles/main.css';
@import 'tailwindcss';

:root {
  --background: linear-gradient(to bottom, #191919 40%, rgb(36, 0, 36));
  --foreground: #ffffff;
  --background-light: #222222;
  --accent: var(--color-yellow-500);
  --secondary: var(--color-gray-400);
}

@theme inline {
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-background-light-border: hsl(from var(--background-light) h s 0.55);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --animate-slide-down: SlideDown 0.1s ease-out;
  --animate-fade-in: FadeIn 0.1s ease-out;
  --animate-rotate-slow: RotateSlow 10s linear infinite;
  --breakpoint-xs: 360px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: calc(var(--vh, 1vh) * 100);
  max-height: 100vh;
}

@keyframes SlideDown {
  0% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes RotateSlow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(365deg);
  }
}

.px-default {
  padding-left: 0.5rem; /* xs:px-2 */
  padding-right: 0.5rem;
}

@media (min-width: 360px) {
  /* xs */
  .px-default {
    padding-left: 0.5rem; /* xs:px-2 */
    padding-right: 0.5rem;
  }
}

@media (min-width: 640px) {
  /* sm */
  .px-default {
    padding-left: 6rem; /* sm:px-24 */
    padding-right: 6rem;
  }
}

@media (min-width: 768px) {
  /* md */
  .px-default {
    padding-left: 11.5rem; /* md:px-46 */
    padding-right: 11.5rem;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .px-default {
    padding-left: 16rem; /* lg:px-64 */
    padding-right: 16rem;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .px-default {
    padding-left: 21rem; /* xl:px-84 */
    padding-right: 21rem;
  }
}

@media (min-width: 1536px) {
  /* 2xl */
  .px-default {
    padding-left: 32rem; /* 2xl:px-128 */
    padding-right: 32rem;
  }
}
